h1 header #header{
    font-size: 48px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    color: tomato;
    font-family: Verdana;
    background-color: blanchedalmond;
  }

  #menu ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  body {
    background-color: lightgrey;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

figure {
  border-style: 3 px solid black;
  padding: 10px;
  padding-bottom: 20px;
}

figure img {  
  max-width: 75%;
  height: auto;
  margin-bottom: 12 px;
  border-style;: 5 px solid black
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}