h1#site-title {
    color: tomato;
    font-family: verdana;
    font-size: 48px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
  }
body {
  background-color: gray;
}
figure {
  border: 3 px solid black;
  padding: 10px;
  padding-bottom: 20px;
}

figure img {  
  max-width: 75%;
  height: auto;
  margin-bottom: 12 px;
}