h1{
    font-size: 48px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
    color: tomato;
    font-family: Verdana;
  }
  body {
    background-color: lightgoldenrodyellow;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orangered;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

figure {
  border-style: 3px solid orange;
  padding: 10px;
  padding-bottom: 20px;
}

figure img {  
  max-width: 75%;
  height: auto;
  margin-bottom: 12px;
  border-style: 5px solid orange;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}