ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150 px;
  color: dark pink;
  font-family: verdana;
  font-size: 18px;
}
h1#site-title {
    color: dark rgb(227, 153, 165);
    font-family: verdana;
    font-size: 48px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: auto;
    text-align: center;
  }
  h1#article-title {
    color: dark rgb(207, 17, 49);
    font-family: verdana;
    font-size: 32px;
    text-align: center;
  }
  p {
    background: white
  }
  
  figure {
    border: 3 px solid black;
    padding: 10px;
    padding-bottom: 20px;
  }
  
  figure img {  
    max-width: 75%;
    height: auto;
    margin-bottom: 12 px;
  }
  
  figure.main-image {
    background:rgb(227, 153, 165);
    border-color: red;
    color: #fff
  }

  figure.section-image {
    max-width: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
    background: rgb(227, 153, 165);
    border-style: solid;
    border-color: blueviolet;
    color: whitesmoke
  }

  figure.section-image.odd {
float: right;
margin-left: 20 px;
  }

figure.section-image.even {
float: left;
margin-right: 20 px
}

  p img {
    float: center;
    max-width: 60%;
    margin-left: 10px;
    margin-bottom: 20px;
  }
